/* ////////// Media Queries ////////// */

/* ////////////////////Extra small devices (phones, 320px and down) ////////////////////*/
@media only screen and (max-width: 320px) {
    .section-title {
      font-size: 1em;
    }
    
    /* ////////// X Small Navigation Section ////////// */
    nav {
      z-index: 10;
      position: fixed;
      display: flex;
      font-family: Oswald, sans-serif;
      font-size: 12px;
      width: 100vw;
      background: rgb(255 255 255 / 50%);
    }
    
    a {
      margin-right: 5px;
      color: var(--primary-color);
      text-decoration: none;
      border-bottom: 3px solid transparent;
      font-weight: bold;
    }
  
    /* ////////// X Small Dark Mode Toggle ////////// */
    .theme-switch-wrapper {
      display: flex;
      align-items: center;
      z-index: 100;
      position: fixed;
      right: 25px;
      top: 50px;
    }
  
    .theme-switch-wrapper span {
      margin-right: 2px;
      font-size: 0.8rem;
    }
  
    .toggle-text {
      position: relative;
      top: -2px;
      right: 2px;
      color: var(--on-background);
    }
  
    .theme-switch {
      display: inline-block;
      height: 16px;
      position: relative;
      width: 34px;
    }
  
    .theme-switch input {
      display: none;
    }
  
    .slider {
      background: #ccc;
      bottom: 0;
      cursor: pointer;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: 0.4s;
    }
  
    .slider::before {
      background: #fff;
      bottom: 0;
      content: "";
      height: 16px;
      left: 0;
      position: absolute;
      transition: 0.4s;
      width: 16px;
    }
  
    input:checked + .slider {
      background: var(--primary-color);
    }
  
    input:checked + .slider::before {
      transform: translateX(18px);
    }
  
    .slider.round {
      border-radius: 16px;
    }
  
    .slider.round::before {
      border-radius: 50%;
    }
  
    .fas {
      font-size: 15px;
      margin-right: 2px;
    }
  
    /* ////////// X Small Home Section ////////// */
    .intro-group {
      margin-top: 0;
    }
  
    .profile-image {
      display: inline-block;
      width: 150px;
      height: 170px;
    }
  
    h1 {
      font-size: 3em;
    }
  
    h2 {
      font-size: 1em;
    }
  
    /* ////////// X Small About Section ////////// */
  
    #about {
      margin-top: 1.5em;
    }
  
    .about-card {
      width: 35%;
    }
  
    /* ////////// X Small Projects Section ////////// */
  
    .project-container {
      width: 100vw;
    }
  
    .project-row {
      width: 100vw;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 0;
      padding: 0;
    }
  
    .project-card:hover {
      transform: scale(1.1);
    }
  
    .project-card-description {
      flex: 1;
      font-size: 14px;
      padding: 1em;
      margin: auto;
    }
  
    .project-card-content {
      border: 1px solid var(--secondary-color);
      border-radius: 10px;
      background: var(--background);
      box-shadow: var(--box-shadow);
      margin: 40% auto;
      padding: 20%;
    }
  
    /* ////////// X Small Contact Section ////////// */
    .fab {
      font-size: 80px;
      margin-right: 0;
      cursor: pointer;
      color: var(--primary-color);
    }
  
    .fab:hover {
      color: var(--on-background);
    }
  
  } 
  
  /* ////////////////////Extra small devices - Expanded (phones, bigger than 320px, but not as big as tablet) ////////////////////*/
  @media only screen and (max-width: 414px) {
    
    /* ////////// X Small Expanded Navigation Section ////////// */
    nav {
      font-size: 16px;
      width: 100vw;
      background: rgb(255 255 255 / 50%);
    }
    
    a {
      margin: 0;
    }
  
    /* ////////// X Small Expanded Dark Mode Toggle ////////// */
    .theme-switch-wrapper {
      display: flex;
      align-items: center;
      z-index: 100;
      position: fixed;
      right: 25px;
      top: 60px;
    }
  
    .theme-switch-wrapper span {
      margin-right: 2px;
      font-size: 0.8rem;
    }
  
    .toggle-text {
      position: relative;
      top: -2px;
      right: 2px;
    }
  
    .theme-switch {
      display: inline-block;
      height: 16px;
      position: relative;
      width: 34px;
    }
  
    .theme-switch input {
      display: none;
    }
  
    .slider {
      background: #ccc;
      bottom: 0;
      cursor: pointer;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: 0.4s;
    }
  
    .slider::before {
      background: #fff;
      bottom: 0;
      content: "";
      height: 16px;
      left: 0;
      position: absolute;
      transition: 0.4s;
      width: 16px;
    }
  
    input:checked + .slider {
      background: var(--primary-color);
    }
  
    input:checked + .slider::before {
      transform: translateX(18px);
    }
  
    .slider.round {
      border-radius: 16px;
    }
  
    .slider.round::before {
      border-radius: 50%;
    }
  
    .fas {
      font-size: 15px;
      margin-right: 2px;
    }
  
    /* ////////// X Small Expanded Home Section ////////// */
  
    .profile-image {
      display: inline-block;
      width: 150px;
      height: 170px;
    }
  
    h1 {
      font-size: 4em;
    }
  
    h2 {
      font-size: 1.5em;
    }
  
    /* ////////// X Small Expanded About Section ////////// */
  
    #about {
      margin-top: 1.5em;
    }
  
    .section-title {
      font-size: 2em;
    }
  
    .card-title {
      font-size: 1em;
    }
  
    .about-card {
      width: 35%;
    }
  
    /* ////////// X Small Expanded Projects Section ////////// */
  
    .project-container {
      width: 100vw;
    }
  
    .project-row {
      width: 100vw;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 0;
      padding: 0;
    }
  
    .project-card:hover {
      transform: scale(1.1);
    }
  
    .project-card-description {
      flex: 1;
      font-size: 14px;
      padding: 1em;
      margin: auto;
    }
  
    .project-card-content {
      border: 1px solid var(--secondary-color);
      border-radius: 10px;
      background: var(--background);
      box-shadow: var(--box-shadow);
      margin: 40% auto;
      padding: 25%;
    }
  
  }
  
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
  
  } 
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
  
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
  
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
  
  }